.place__title {
    font-family: 'Inter-Black';
    grid-area: title;
    font-size: 72px;
    line-height: 1.06;
    font-style: normal;
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
        margin-left: 4%;
    }    
}


@media screen and (max-width: 424px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
    }    
}