.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    max-height: 52px;
    margin: 0 auto 56px;
}

@media screen and (max-width: 1280px) {
    .header {
        margin: 0 48px 48px;
    }

}


@media screen and (max-width: 768px) {
    .header {
        margin: 0 24px 48px;
    }
    
}

@media screen and (max-width: 424px) {
    .header {
        margin: 0 16px 48px;        
    }
    
}