.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto 32px;
    max-width: 720px;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead__title {
        max-width: 720px;
    }
    
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .lead__title {
        margin: 0 24px 32px 24px;
        font-size: 13vw;
        line-height: 13vw;
    }
    
}

@media screen and (max-width: 424px) {
    .lead__title {
        margin: 0 16px 16px 16px;
        font-size: 40px;
        line-height: 44px;
    }
    
}
