.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    margin: 0 auto 32px;
    max-width: 720px;
}

@media screen and (max-width: 768px) {
    .lead__title {
        margin: 0 24px 32px 24px;
        font-size: 12.5vw;
    }
    
}

@media screen and (max-width: 424px) {
    .lead__title {
        margin: 0 16px 16px 16px;
        font-size: 40px;
        line-height: 1.1;
    }
    
}
