.place__paragraph {
    font-size: 18px;
    line-height: 1.62;
    margin: 0;
}

.place__paragraph:first-child {
    margin-bottom: 26px;
}



@media screen and (max-width: 860px) {
    .place__paragraph  {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin: 0 3%;
    }    
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        margin: 0 5%;
    }    
}