.intro {
    max-width: 984px;
    margin: 92px auto;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 92px 0 92px 48px;
    }    
}


@media screen and (max-width: 768px) {
    .intro {
        margin: 85px 24px;
        max-width: 93.5%;
    }    
}

@media screen and (max-width: 424px) {
    .intro {
        width: 90%;
        margin: 20% 5%;
    }
    
}