.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin: 0 auto 64px;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        font-size: 4.6vw;
        line-height: 36px;
        margin: 0 64px 56px;
        ;
    }
}

@media screen and (max-width: 424px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
        margin: 0 auto 40px;
    }
    
}