.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 62.5vw;
    max-width: 1184px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.cover::before {
    content: "";
    position: absolute;
    background-color: #2A2C2F;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cover:hover:before {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .cover {
        height: 100vw;
    }
}