.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    max-width: 550px;
    position: relative;
}


@media screen and (max-width: 470px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
        max-height: 70px;
    }
}