.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 460px));
    grid-template-areas: 
    "title website"
    "image text";
    gap: 48px 40px;
    max-width: 984px;
    margin: 0 auto 80px;
}

@media screen and (max-width: 1024px) {
    .place {
        margin-left: 3.1%;
        margin-right: 3.1%;
        grid-template-columns: repeat(2, minmax(340px, 47.5%));
        gap: 48px 32px;
    }
    
}

@media screen and (max-width: 768px) {
    .place {
        gap: 48px 28px;
        grid-template-columns: repeat(2, minmax(auto, 45.8%));
        margin-bottom: 73px;
}

@media screen and (max-width: 767px) {
    .place {
        margin: 12% auto;
        gap: 48px 28px;
        grid-template-columns: auto;
        grid-template-areas: 
        "title"
        "website"
        "image"
        "text";
        }
        
}