.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 auto;
    padding: 92px 48px 0;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding-left: 4%;
        padding-right: 4%;
    }
}

@media screen and (max-width: 767px) {
    .footer  {
        flex-direction: column;
        padding: 10% 0 0 5%;
        
    }
}

@media screen and (max-width: 424px) {
    .footer {
        padding-top: 20%;
    }
}