.footer__column-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

@media screen and (max-width: 768px) {
    .footer__column-links {
        flex-direction: column;
    }
}