.place__website {
    grid-area: website;
    align-self: end;
}

@media screen and (max-width: 767px) {
    .place__website {
        margin-left: 3%;
    }
    
}

@media screen and (max-width: 320px) {
    .place__website {
        margin-left: 5%;
    }
    
}